<div style="width: 100%;height: 100%;" fxLayoutAlign="center center">
    <div style="width: 90%;height: 90%;background-color: white;" fxLayout="column">
        <div style="width:100%;height: 10%;border-bottom: 1px solid black;" fxLayout="column">


            <div style="width:25%;height: 100%;" fxLayoutAlign="center center">
                <mat-form-field style="width: 80%;" class="example-form-field">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" [(ngModel)]="value">
                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div style="width:100%;height: 90%;" fxLayout="row">
            <div style="width:25%;height: 100%;border-right: 1px solid black;">
                <!-- 1 -->
                <div style="width: 100%;height: 12.5%;background-color: white;border-bottom: 1px solid #9d9d9d;"
                    fxLayout="row" fxLayoutAlign="space-between center">
                    <div style="width: 25%;height: 100%;" fxLayoutAlign="center center">
                        <img src="https://img.icons8.com/bubbles/100/000000/popular-man.png" />
                    </div>
                    <div style="width: 70%;height: 100%;" fxLayout="column" fxLayoutAlign="space-between center">
                        <div style="width: 100%;height: 40%;" fxLayout="row" fxLayoutAlign="space-between end">
                            <span style="font-size: 1.5vw;">Mr John Doe</span>
                            <span style="font-size: 0.75vw;">00.00 am</span>
                        </div>

                        <span style="width: 100%;height: 45%;">last Chat text epilisiisz
                            dsad</span>
                    </div>
                </div>
                <!-- 2 -->
                <div style="width: 100%;height: 12.5%;background-color: white;border-bottom: 1px solid #9d9d9d"
                    fxLayout="row" fxLayoutAlign="space-between center">
                    <div style="width: 25%;height: 100%;" fxLayoutAlign="center center">
                        <img src="https://img.icons8.com/bubbles/100/000000/girl-and-chemical-test-tube.png" /> </div>
                    <div style="width: 70%;height: 100%;" fxLayout="column" fxLayoutAlign="space-between center">
                        <div style="width: 100%;height: 40%;" fxLayout="row" fxLayoutAlign="space-between end">
                            <span style="font-size: 1.5vw;">Mr John Doe</span>
                            <span style="font-size: 0.75vw;">00.00 am</span>
                        </div>

                        <span style="width: 100%;height: 45%;">last Chat text epilisiisz
                            dsad</span>
                    </div>
                </div>

            </div>
            <div style="width:75%;height: 100%;" >
         
                    <!-- 1 -->
                    <div style="width:100%;min-height: 10%;" fxLayout="column">

                        <div style="width:100%;height: 100%;" fxLayout="column">
                            <div style="width: 25%;height: 30%;" fxLayoutAlign="center center">
                                <img fxLayoutAlign="start center"
                                    src="https://img.icons8.com/bubbles/50/000000/girl-and-chemical-test-tube.png" />
                                <span style="width: 60%;height: 100%;" fxLayoutAlign="start center">Dortilab</span>
                            </div>
                            <div style="width: 60%;min-height: 10%;" fxLayoutAlign="end center">
                                <div style="width: 90%;padding: 10px 10px 10px 10px;height:100%;
                background-color: whitesmoke;border-radius: 12px;" fxLayout="column">
                                    <p style="width:80%;height: 90%;">fgdrtdfgxgfdtrdxf
                                        fxfgcxgfcfgcfgc
                                        ghcghcghv</p>
                                    <div>
                                        <span>00.00am</span>
                                        <span>...</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- 2 -->
                        <div style="width:100%;height: 100%;" fxLayout="column"  fxLayoutAlign="center end">
                                <div style="width: 25%;height: 30%;" fxLayoutAlign="end center">
                                        <span style="width: 60%;height: 100%;" fxLayoutAlign="end center">Dortilab</span>

                                    <img fxLayoutAlign="start center"
                                        src="https://img.icons8.com/bubbles/50/000000/girl-and-chemical-test-tube.png" />
                                </div>
                                <div style="width: 60%;min-height: 10%;" fxLayoutAlign="end center">
                                    <div style="width: 90%;padding: 10px 10px 10px 10px;height:100%;
                    background-color: whitesmoke;border-radius: 12px;" fxLayout="column">
                                        <p style="width:80%;height: 90%;">fgdrtdfgxgfdtrdxf
                                            fxfgcxgfcfgcfgc
                                            ghcghcghv</p>
                                        <div>
                                            <span>00.00am</span>
                                            <span>...</span>
                                        </div>
                                    </div>
    
                                </div>
    
                            </div>
                            <div style="width:100%;height: 100%;" fxLayout="column">
                                    <div style="width: 25%;height: 30%;" fxLayoutAlign="center center">
                                        <img fxLayoutAlign="start center"
                                            src="https://img.icons8.com/bubbles/50/000000/girl-and-chemical-test-tube.png" />
                                        <span style="width: 60%;height: 100%;" fxLayoutAlign="start center">Dortilab</span>
                                    </div>
                                    <div style="width: 60%;min-height: 10%;" fxLayoutAlign="end center">
                                        <div style="width: 90%;padding: 10px 10px 10px 10px;height:100%;
                        background-color: whitesmoke;border-radius: 12px;" fxLayout="column">
                                            <p style="width:80%;height: 90%;">fgdrtdfgxgfdtrdxf
                                                fxfgcxgfcfgcfgc
                                                ghcghcghv</p>
                                            <div>
                                                <span>00.00am</span>
                                                <span>...</span>
                                            </div>
                                        </div>
        
                                    </div>
        
                                </div>
                    </div>



            </div>

        </div>
    </div>