<div class="homeMain" fxLayoutAlign="center center">
    <div class="homeSub" fxLayout="row">
        <div class="homeLeft" fxLayout="column" fxLayoutAlign="center center">

            <div fxLayout="column" fxLayoutAlign="center center">
                <div class="title">Registration!</div>
                <p class="para">
                    Never better time than now to start
                    thinking about how you manage all your
                    finances with ease.
                </p>
            </div>

        </div>
        <div class="homeRight" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
            <div style="width: 50%;height: 35%;"fxLayout="column" fxLayoutGap="2%" >
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Placeholder" [formControl]="username">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>Please Enter Full Name.</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" [formControl]="email" >
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Please Enter Email Address.</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Placeholder" autocomplete="off" [formControl]="password" >
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Please Enter Password.</mat-hint>
            </mat-form-field>
        </div>
            <div class="createAccount" (click)="register()">
                Register</div>
            <!-- on hover underline -->
            <div class="LoginToAccount" (click)="toLogin()">Already Have Account ? <span href="#" style="color: black;font-weight: 500;" >Login</span></div>
            
        </div>
    </div>
</div>