<div style="width: 100%;height: 100%;">
    <mat-toolbar style="height:8vh ;" color="primary" class="example-toolbar">
    <button (click)="sidenav.toggle()" mat-icon-button ><mat-icon>menu</mat-icon></button>
    
  </mat-toolbar>
  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="side" style="width: 5%;height: 100vh">
      <mat-nav-list >
        


      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="mat-sidenav-content" style="width: 100%;height: 92vh;">
      <!-- <router-outlet></router-outlet> -->

      <app-dash-home></app-dash-home>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
