$_heading_font_size:18px;
$_cardheading_font_size:16px;
$_inputbox_font_size:14px;
$_subtext_font_size:12px;
$_tableheading_font_size:10px;
$_heading_font_weight:600;
$_button_font_weight:400;
$_button_border_radius:none;
$_heading_border_radius:10px;
$font_family:Lato;