<div class="homeMain"  fxLayoutAlign="center center">
    <div class="homeSub" fxLayout="row">
        <div class="homeLeft"  fxLayout="column" fxLayoutAlign="center center">
    
            <div fxLayout="column" fxLayoutAlign="center center">
                <div class="title" >Lets Gets Started!</div>
                    <p class="para" >
                        Never better time than now to start
                        thinking about how you manage all your
                        finances with ease.
                    </p>
            </div>

        </div>
        <div  class="homeRight"  fxLayout="column" fxLayoutGap="5%"  fxLayoutAlign="center center">
            <div class="createAccount"  (click)="createAccount()">
                Create Account</div>
                <!-- on hover underline -->
            <div  class="LoginToAccount" (click)="loginToAccount()">Login to Account</div>
        </div>
    </div>
</div>