.homeMain{
    width: 100%;
    height: 100%;
}
.homeSub{
    width: 98%;
    height: 95%;
    background-color:#f7f6fb;
}

.homeLeft{
    width: 50%;
    height: 100%;
    background-color: #7966FF;
}
.title{
    font-size: xx-large;
    font-weight: 400;
    color: #ffffff;
}
.para{
    width: 45%;height: 30%;font-family: Avenir® Next;
    font-size:large;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}
.homeRight{
    width: 50%;
    height: 100%; 
}