<div class="homeMain" fxLayoutAlign="center center">
        <div class="homeSub" fxLayout="row">
            <div class="homeLeft" fxLayout="column" fxLayoutAlign="center center">
    
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div class="title">Login</div>
                    <p class="para">
                        Never better time than now to start
                        thinking about how you manage all your
                        finances with ease.
                    </p>
                </div>
    
            </div>
            <div class="homeRight" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
                <div style="width: 50%;max-height: 25%;"fxLayout="column" fxLayoutGap="2%" >
                
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email Address."  autocomplete="off" [formControl]="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint *ngIf="email.invalid" >Please Enter Password.</mat-hint>
                    <mat-error  >{{this.getErrorMessageEmail()}} </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter Password."  autocomplete="off" [formControl]="password">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint *ngIf="password.invalid">Please Enter Password.</mat-hint>
                    <mat-error  >{{this.getErrorMessagePassword()}} </mat-error>
    
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-checkbox  >Checked</mat-checkbox>
                    <div class="LoginToAccount" >Forgot Password ?</div>
                </div>
            </div>
            
                <div class="createAccount" (click)="login()">
                    Login</div>
                <!-- on hover underline -->
                <div class="LoginToAccount" (click)="toRegister()">Don't Have Account ? <span href="#" style="color: black;font-weight: 500;"  >Register</span></div>
                
            </div>
        </div>
    </div>
