<div style="width: 100%;height: 100%;" fxLayout="row" fxLayoutAlign="space-around center">
<div style="width: 65%;height: 90%;background-color: white;border-radius: 7px;">
        <div class="trans_Header">
                <div class="trans_Header_text" fxLayoutAlign="space-between center">
                    <span>Transactions</span>
                    <span style="color: #1466f5;">View All</span>
                </div>
                <div class="trans_SubHeader" fxLayoutAlign="center center">
                    <span class="trans_brand" style="color: #8b9297;font-size: 1vw;" fxLayoutAlign="start center">Brand</span>
                    <span class="trans_Date" style="color: #8b9297;font-size: 1vw;" fxLayoutAlign="start center">Date</span>
                    <span class="trans_Vendor" style="color: #8b9297;font-size: 1vw;" fxLayoutAlign="start center">Vendor</span>
                    <span class="trans_purDetails" style="color: #8b9297;font-size: 1vw;" fxLayoutAlign="start center">Purchased Detail</span>
                    <span class="trans_Cost" style="color: #8b9297;font-size: 1vw;" fxLayoutAlign="start center">Cost</span>
                    <span class="trans_Details" style="color: #8b9297;" fxLayoutAlign="start center">Details</span>
                </div>
                <div style="width: 100%;min-height: fit-content;background-color: white;">
                    <!-- 1 -->
                    <div class="trans_header_Sub" fxLayoutAlign="center center">
                        <span class="trans_brand" fxLayoutAlign="start center">
                            <img src="https://img.icons8.com/color/48/000000/suzuki.png" />
                        </span>
                        <span class="trans_Date" fxLayoutAlign="start center">28 May</span>
                        <span class="trans_Vendor" fxLayoutAlign="start center">Suzuki</span>
                        <span class="trans_purDetails" fxLayoutAlign="start center">Service Center Bike </span>
                        <span class="trans_Cost" fxLayoutAlign="start center">$87.00</span>
                        <span class="trans_Details" style="color: #19cc5a;" fxLayoutAlign="start center">
                            <button mat-stroked-button color="#19cc5a">Details</button></span>
                    </div>
                    <!-- 2 -->
                    <div class="trans_header_Sub" fxLayoutAlign="center center">
                        <span class="trans_brand" fxLayoutAlign="start center">
                            <img src="https://img.icons8.com/color/48/000000/hulu.png"/>                      
                         </span>
                        <span class="trans_Date" fxLayoutAlign="start center">2 April</span>
                        <span class="trans_Vendor" fxLayoutAlign="start center">Hulu</span>
                        <span class="trans_purDetails" fxLayoutAlign="start center">Hulu Subcription</span>
                        <span class="trans_Cost" fxLayoutAlign="start center">$48.00</span>
                        <span class="trans_Details" style="color: #19cc5a;" fxLayoutAlign="start center">
                            <button mat-stroked-button color="#19cc5a">Details</button></span>
                    </div>
                    <!-- 3 -->
                    <div class="trans_header_Sub" fxLayoutAlign="center center">
                            <span class="trans_brand" fxLayoutAlign="start center">
                                    <img src="https://img.icons8.com/bubbles/50/000000/netflix.png"/>                         
                                    </span>
                            <span class="trans_Date" fxLayoutAlign="start center">2 September</span>
                            <span class="trans_Vendor" fxLayoutAlign="start center">Netflix</span>
                            <span class="trans_purDetails" fxLayoutAlign="start center">Netflix Subcription</span>
                            <span class="trans_Cost" fxLayoutAlign="start center">$125.00</span>
                            <span class="trans_Details" style="color: #19cc5a;" fxLayoutAlign="start center">
                                <button mat-stroked-button color="#19cc5a">Details</button></span>
                        </div>
                        <!-- 1 -->
                    <div class="trans_header_Sub" fxLayoutAlign="center center">
                            <span class="trans_brand" fxLayoutAlign="start center">
                                <img src="https://img.icons8.com/color/48/000000/suzuki.png" />
                            </span>
                            <span class="trans_Date" fxLayoutAlign="start center">28 May</span>
                            <span class="trans_Vendor" fxLayoutAlign="start center">Suzuki</span>
                            <span class="trans_purDetails" fxLayoutAlign="start center">Service Center Bike </span>
                            <span class="trans_Cost" fxLayoutAlign="start center">$87.00</span>
                            <span class="trans_Details" style="color: #19cc5a;" fxLayoutAlign="start center">
                                <button mat-stroked-button color="#19cc5a">Details</button></span>
                        </div>
                        <!-- 2 -->
                        <div class="trans_header_Sub" fxLayoutAlign="center center">
                            <span class="trans_brand" fxLayoutAlign="start center">
                                <img src="https://img.icons8.com/color/48/000000/hulu.png"/>                      
                             </span>
                            <span class="trans_Date" fxLayoutAlign="start center">2 April</span>
                            <span class="trans_Vendor" fxLayoutAlign="start center">Hulu</span>
                            <span class="trans_purDetails" fxLayoutAlign="start center">Hulu Subcription</span>
                            <span class="trans_Cost" fxLayoutAlign="start center">$48.00</span>
                            <span class="trans_Details" style="color: #19cc5a;" fxLayoutAlign="start center">
                                <button mat-stroked-button color="#19cc5a">Details</button></span>
                        </div>
                        <!-- 3 -->
                        <div class="trans_header_Sub" fxLayoutAlign="center center">
                                <span class="trans_brand" fxLayoutAlign="start center">
                                        <img src="https://img.icons8.com/bubbles/50/000000/netflix.png"/>                         
                                        </span>
                                <span class="trans_Date" fxLayoutAlign="start center">2 September</span>
                                <span class="trans_Vendor" fxLayoutAlign="start center">Netflix</span>
                                <span class="trans_purDetails" fxLayoutAlign="start center">Netflix Subcription</span>
                                <span class="trans_Cost" fxLayoutAlign="start center">$125.00</span>
                                <span class="trans_Details" style="color: #19cc5a;" fxLayoutAlign="start center">
                                    <button mat-stroked-button color="#19cc5a">Details</button></span>
                            </div>
                            <!-- 3 -->
                        <div class="trans_header_Sub" fxLayoutAlign="center center">
                                <span class="trans_brand" fxLayoutAlign="start center">
                                        <img src="https://img.icons8.com/bubbles/50/000000/netflix.png"/>                         
                                        </span>
                                <span class="trans_Date" fxLayoutAlign="start center">2 September</span>
                                <span class="trans_Vendor" fxLayoutAlign="start center">Netflix</span>
                                <span class="trans_purDetails" fxLayoutAlign="start center">Netflix Subcription</span>
                                <span class="trans_Cost" fxLayoutAlign="start center">$125.00</span>
                                <span class="trans_Details" style="color: #19cc5a;" fxLayoutAlign="start center">
                                    <button mat-stroked-button color="#19cc5a">Details</button></span>
                            </div>

                </div>
            </div>
    
    
</div>
<div style="width: 30%;height: 90%;background-color: white; border-radius: 7px;">
        <div class="automated_transaction" fxLayout="column" fxLayoutAlign="start center">
                <span class="auto_trans_header"  fxLayoutAlign="start center">Automative Payments</span>
                <div class="auto_trans_body" fxLayout="column" fxLayoutGap="7%">
                    <!-- 1 -->
                    <div class="auto_data" fxLayout="row">
                        <div class="auto_data_img" fxLayoutAlign="center center">
                            <img src="https://img.icons8.com/color/64/000000/triceps.png" /></div>
                        <div class="auto_data_detail" fxLayout="column" fxLayoutAlign="center start">
                            <span>Gym bill</span>
                            <span>1d 23hrs</span>
                        </div>
                        <div class="auto_button" fxLayoutAlign="center center"> <button mat-stroked-button
                                color="#bac2ce">Cancel</button></div>
                    </div>
                    <!-- 2 -->
                    <div class="auto_data" fxLayout="row">
                        <div class="auto_data_img" fxLayoutAlign="center center">
                            <img src="https://img.icons8.com/cute-clipart/64/000000/amazon.png" />
                        </div>
                        <div class="auto_data_detail" fxLayout="column" fxLayoutAlign="center start">
                            <span>Web Services bill</span>
                            <span>139d 23hrs</span>
                        </div>
                        <div class="auto_button" fxLayoutAlign="center center"> <button mat-stroked-button
                                color="#bac2ce">Cancel</button></div>
                    </div>
                    <!-- 1 -->
                    <div class="auto_data" fxLayout="row">
                            <div class="auto_data_img" fxLayoutAlign="center center">
                                <img src="https://img.icons8.com/color/64/000000/triceps.png" /></div>
                            <div class="auto_data_detail" fxLayout="column" fxLayoutAlign="center start">
                                <span>Gym bill</span>
                                <span>1d 23hrs</span>
                            </div>
                            <div class="auto_button" fxLayoutAlign="center center"> <button mat-stroked-button
                                    color="#bac2ce">Cancel</button></div>
                        </div>
                        <!-- 2 -->
                        <div class="auto_data" fxLayout="row">
                            <div class="auto_data_img" fxLayoutAlign="center center">
                                <img src="https://img.icons8.com/cute-clipart/64/000000/amazon.png" />
                            </div>
                            <div class="auto_data_detail" fxLayout="column" fxLayoutAlign="center start">
                                <span>Web Services bill</span>
                                <span>139d 23hrs</span>
                            </div>
                            <div class="auto_button" fxLayoutAlign="center center"> <button mat-stroked-button
                                    color="#bac2ce">Cancel</button></div>
                        </div>
                        <!-- 1 -->
                    <div class="auto_data" fxLayout="row">
                            <div class="auto_data_img" fxLayoutAlign="center center">
                                <img src="https://img.icons8.com/color/64/000000/triceps.png" /></div>
                            <div class="auto_data_detail" fxLayout="column" fxLayoutAlign="center start">
                                <span>Gym bill</span>
                                <span>1d 23hrs</span>
                            </div>
                            <div class="auto_button" fxLayoutAlign="center center"> <button mat-stroked-button
                                    color="#bac2ce">Cancel</button></div>
                        </div>
                        <!-- 2 -->
                        <div class="auto_data" fxLayout="row">
                            <div class="auto_data_img" fxLayoutAlign="center center">
                                <img src="https://img.icons8.com/cute-clipart/64/000000/amazon.png" />
                            </div>
                            <div class="auto_data_detail" fxLayout="column" fxLayoutAlign="center start">
                                <span>Web Services bill</span>
                                <span>139d 23hrs</span>
                            </div>
                            <div class="auto_button" fxLayoutAlign="center center"> <button mat-stroked-button
                                    color="#bac2ce">Cancel</button></div>
                        </div>

                        <!-- 1 -->
                    <div class="auto_data" fxLayout="row">
                            <div class="auto_data_img" fxLayoutAlign="center center">
                                <img src="https://img.icons8.com/color/64/000000/triceps.png" /></div>
                            <div class="auto_data_detail" fxLayout="column" fxLayoutAlign="center start">
                                <span>Gym bill</span>
                                <span>1d 23hrs</span>
                            </div>
                            <div class="auto_button" fxLayoutAlign="center center"> <button mat-stroked-button
                                    color="#bac2ce">Cancel</button></div>
                        </div>
                        <!-- 2 -->
                        
    
                </div>
    
            </div></div>
</div>