<div style="width: 100%;height: 100%;background-color:whitesmoke;" fxLayout="row">
<div style="width: 65%;height: 100%;background-color:#f6f7fb;"  fxLayout="column">

    <div style="width: 100%; height:50% ;" fxLayout="row" fxLayoutAlign="space-around center">
        <div style="width:30%;height: 90%;background-color: white;" fxLayout="column" fxLayoutAlign="center center" >
        <span style="width: 50%;height: 10%;" fxLayoutAlign="center center">Your Balances</span>
        <span style="width: 60%;height: 10%;font-size: 2vw;color: #3f51b5;" fxLayoutAlign="center center">$3000.00</span>
        <div style="width: 80%;height: 20%; " fxLayout="row" fxLayoutAlign="space-around center" >
            <span style="width: 35%;height: 40%;" >This Month</span>
            <span style="width: 50%;height: 60%;border:1px solid #19cc5a;border-radius: 12px;color: #19cc5a;" fxLayoutAlign="center center">
                <button mat-icon-button>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                    
                  </button>
                $3000.00</span>
        </div>
        <div style="width: 100%;height: 35%;background-color: lightgrey;">

        </div>
        
        <div style="width: 90%;height: 25%;" fxLayout="row" fxLayoutAlign="space-around center"   >
            <div style="width: 40%;height: 80%;" fxLayout="column" fxLayoutAlign="center start" >
            <span>$872</span>
            <span>Expenses</span>
            </div>
            <div style="width: 40%;height: 80%;" fxLayout="column"  fxLayoutAlign="center start">
                <span>126</span>
                <span>Transactions</span>
            </div>

        </div>

        </div>
        <div style="width: 60%;height: 90%;background-color: white;" fxLayout="column"  fxLayoutAlign="center center" >
        <div style="width: 100%;height: 10%;" fxLayout="row"  fxLayoutAlign="center start">
        <span style="width: 70%;height: 100%;" fxLayoutAlign="start center">Last Week Transactions</span>
        <div>
                <span style="width: 30%;height: 100%;color: #19cc5a;" fxLayoutAlign="center center">
                        <button mat-icon-button>
                            <mat-icon>keyboard_arrow_down</mat-icon>
                            
                          </button>
                        +26%</span>

        </div>
        </div>
        <div style="width: 100%;height: 80%;background-color: lightgrey;"></div>
        
        </div>
    </div>
    <div style="width: 100%;height: 50%;background-color: #f6f7fb;" fxLayoutAlign="center center" >
    <div style="width:95%;height: 90%;background-color: #f6f7fb;">
    <div style="width:100%;height: 10%;">
        <span>Previous Transaction</span>
        <span>View All</span>
    </div>
    <div style="width: 100%;height: 10%;" fxLayoutAlign="center center"  >
        <span style="width: 10%;height: 100%;">Brand</span>
        <span style="width: 10%;height: 100%;">Date</span>
        <span style="width: 15%;height: 100%;">Vendor</span>
        <span style="width: 30%;height: 100%;">Purchased Detail</span>
        <span style="width: 15%;height: 100%;">Cost</span>
        <span style="width: 15%;height: 100%;">Details</span>
    </div>
    <div style="width: 100%;height: 20%;border:1px solid lightgray;background-color: white;box-shadow: 7px 7px lightgray;border-radius: 17px;margin-bottom: 1.5%;" fxLayoutAlign="center center" >
            <span style="width: 10%;height: 100%;" fxLayoutAlign="start center">
                    <img src="https://img.icons8.com/color/48/000000/suzuki.png"/>
            </span>
            <span style="width: 10%;height: 100%;" fxLayoutAlign="start center">28 May</span>
            <span style="width: 15%;height: 100%;" fxLayoutAlign="start center">Suzuki</span>
            <span style="width: 30%;height: 100%;" fxLayoutAlign="start center">Service Center Bike </span>
            <span style="width: 15%;height: 100%;" fxLayoutAlign="start center">$87.00</span>
            <span style="width: 15%;height: 100%;color: #19cc5a; " fxLayoutAlign="start center"> <button mat-stroked-button color="#19cc5a">Details</button></span>
        </div>
        <div style="width: 100%;height: 20%;border:1px solid lightgray;background-color: white;box-shadow: 7px 7px lightgray;border-radius: 17px;" fxLayoutAlign="center center" >
                <span style="width: 10%;height: 100%;" fxLayoutAlign="start center">
                        <img src="https://img.icons8.com/color/48/000000/suzuki.png"/>
                </span>
                <span style="width: 10%;height: 100%;" fxLayoutAlign="start center">28 May</span>
                <span style="width: 15%;height: 100%;" fxLayoutAlign="start center">Suzuki</span>
                <span style="width: 30%;height: 100%;" fxLayoutAlign="start center">Service Center Bike </span>
                <span style="width: 15%;height: 100%;" fxLayoutAlign="start center">$87.00</span>
                <span style="width: 15%;height: 100%;color: #19cc5a; " fxLayoutAlign="start center"> <button mat-stroked-button color="#19cc5a">Details</button></span>
            </div>

    </div>
    </div>
</div>
<div style="width: 30%;height: 100%; background-color: #f6f7fb;" fxLayout="column"fxLayoutAlign="start center" fxLayoutGap="5%" >
<div style="width: 90%;height: 30%;" fxLayout="column"fxLayoutAlign="start center">
    <div style="width: 90%;height: 20%;background-color: #f6f7fb;"  fxLayout="row" fxLayoutAlign="space-between center">
        <span>Saved Cards</span>
        <span>+Add New Card</span>
    </div>
    <div style="width:80%;height: 80%;background-color:#6ba1fd;border-radius: 17px;box-shadow: 7px 7px lightgray" fxLayout="column" fxLayoutAlign="center center">
        <div style="width: 90%;height: 30%;" fxLayout="row" fxLayoutAlign="space-between start" >
                <img src="https://img.icons8.com/color/64/000000/sim-card-chip.png"/>
                <img src="https://img.icons8.com/color/64/000000/mastercard-logo.png"/>

        </div>
        <div style="width: 90%;height: 30%;" fxLayout="column" fxLayoutAlign="start start">
        <span style="font-size: 1vw;font-weight: bold;">CARD NUMBER</span>
        <span style="font-size: 1.5vw;font-weight: lighter;">1731 7832 2232 2323</span>
        </div>
        <div style="width: 90%;height: 30%;" fxLayout="column">
                <span style="width:100%; font-size: 0.5vw;font-weight: bold;">EXPREIES</span>
                <span>28/21</span>

        </div>

    </div>

</div>
<div style="width: 90%;height: 30%;" fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="2.5%">
    <div style="width: 80%;height: 30%;border:1px solid lightgray;background-color: white;box-shadow: 7px 7px lightgray;border-radius: 10px;" fxLayout="row" fxLayoutAlign="start start">
    <div style="width: 30%;height: 100%;" fxLayoutAlign="center center"><img src="https://img.icons8.com/color/64/000000/starbucks.png"/></div>
    <div style="width: 50%;height: 100%" fxLayout="column" fxLayoutAlign="center start">
        <span style="font-size: 1vw;">2 Cappuccion</span>
        <span>02/11/2017</span>
    </div>
    <span style="width: 30%;height: 100%" fxLayoutAlign="center center" >$24.00</span>

</div>
<div style="width: 80%;height: 30%;border:1px solid lightgray;background-color: white;box-shadow: 7px 7px lightgray;border-radius: 10px;" fxLayout="row" fxLayoutAlign="start start">
        <div style="width: 30%;height: 100%;" fxLayoutAlign="center center"><img src="https://img.icons8.com/color/64/000000/organic-food.png"/></div>
        <div style="width: 50%;height: 100%" fxLayout="column" fxLayoutAlign="center start">
            <span style="font-size: 1vw;">organic-food baskets</span>
            <span>02/12/2019</span>
        </div>
        <span style="width: 30%;height: 100%" fxLayoutAlign="center center" >$40.00</span>
    
    </div>

</div>
<div style="width: 90%;height: 30%;background-color: white;">
    <span style="width: 90%;height: 10%;background-color: white;" >Automative Payments</span>
    <div></div>

</div>
</div>
</div>