<div class="dashMain" fxLayout="row">
    <!-- Dashboard-HOME Dash left -->
    <div style="width: 2.5%;height: 100%;background-color: #f6f7fb;"></div>
    <div class="dashLeft" fxLayout="column">
        <!-- BALANCE AND Analitical -->
        <div class="balTrans" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="balance" fxLayout="column" fxLayoutAlign="center center">
                <span class="bal_Header" fxLayoutAlign="center center">Your Balances</span>
                <span class="bal_SubHeader" fxLayoutAlign="center center">$3000.00</span>
                <div class="bal_body" fxLayout="row" fxLayoutAlign="space-around center">
                    <span class="bal_body_month">This Month</span>
                    <span class="bal_body_amount" fxLayoutAlign="center center">
                        <button mat-icon-button>
                            <mat-icon>keyboard_arrow_down</mat-icon>

                        </button>
                        $3000.00</span>
                </div>
                <div class="bal_body_graph" fxLayout="row" fxLayoutAlign="center center">
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel" [barPadding]="barPadding" (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>

                </div>

                <div class="bal_body_overAll" fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="overAll" fxLayout="column" fxLayoutAlign="center start">
                        <span style="font-weight: 600;">$872</span>
                        <span>Expenses</span>
                    </div>
                    <div class="overAll" fxLayout="column" fxLayoutAlign="center start">
                        <span style="font-weight: 600;">126</span>
                        <span>Transactions</span>
                    </div>

                </div>

            </div>
            <!-- Analitical -->
            <div class="analitical" fxLayout="column" fxLayoutAlign="center center">
                <div class="anal_Header" fxLayout="row" fxLayoutAlign="center start">
                    <span class="anal_Header_text" fxLayoutAlign="start center">Last Week Transactions</span>
                    <div>
                        <span class="anal_Header_per" fxLayoutAlign="center center">
                            <button mat-icon-button>
                                <mat-icon>arrow_drop_down_circle</mat-icon>

                            </button>
                            +26%</span>

                    </div>
                </div>
                <div class="anal_body">
                    <ngx-charts-area-chart [view]="view1" [scheme]="colorScheme1" 
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel" 
                        [showYAxisLabel]="showYAxisLabel" 
                        [xAxis]="true"
                        [yAxis]="true" 
                        
                        [timeline]="timeline" [results]="multi"
                        (select)="onSelect($event)">
                    </ngx-charts-area-chart>
                </div>

            </div>
        </div>
        <!-- Transaction List -->
        <div class="transactionList" fxLayoutAlign="center center">
            <div class="trans_Header">
                <div class="trans_Header_text" fxLayoutAlign="space-between center">
                    <span>Previous Transaction</span>
                    <span style="color: #1466f5;">View All</span>
                </div>
                <div class="trans_SubHeader" fxLayoutAlign="center center">
                    <span class="trans_brand" style="color: #8b9297;font-size: 1vw;">Brand</span>
                    <span class="trans_Date" style="color: #8b9297;font-size: 1vw;">Date</span>
                    <span class="trans_Vendor" style="color: #8b9297;font-size: 1vw;">Vendor</span>
                    <span class="trans_purDetails" style="color: #8b9297;font-size: 1vw;">Purchased Detail</span>
                    <span class="trans_Cost" style="color: #8b9297;font-size: 1vw;">Cost</span>
                    <span class="trans_Details" style="color: #8b9297;">Details</span>
                </div>
                <div style="width: 100%;min-height: fit-content;background-color: white;">
                    <!-- 1 -->
                    <div class="trans_header_Sub" fxLayoutAlign="center center">
                        <span class="trans_brand" fxLayoutAlign="start center">
                            <img src="https://img.icons8.com/color/48/000000/suzuki.png" />
                        </span>
                        <span class="trans_Date" fxLayoutAlign="start center">28 May</span>
                        <span class="trans_Vendor" fxLayoutAlign="start center">Suzuki</span>
                        <span class="trans_purDetails" fxLayoutAlign="start center">Service Center Bike </span>
                        <span class="trans_Cost" fxLayoutAlign="start center">$87.00</span>
                        <span class="trans_Details" style="color: #19cc5a;" fxLayoutAlign="start center">
                            <button mat-stroked-button color="#19cc5a">Details</button></span>
                    </div>
                    <!-- 2 -->
                    <div class="trans_header_Sub" fxLayoutAlign="center center">
                        <span class="trans_brand" fxLayoutAlign="start center">
                            <img src="https://img.icons8.com/color/48/000000/hulu.png"/>                      
                         </span>
                        <span class="trans_Date" fxLayoutAlign="start center">2 April</span>
                        <span class="trans_Vendor" fxLayoutAlign="start center">Hulu</span>
                        <span class="trans_purDetails" fxLayoutAlign="start center">Hulu Subcription</span>
                        <span class="trans_Cost" fxLayoutAlign="start center">$48.00</span>
                        <span class="trans_Details" style="color: #19cc5a;" fxLayoutAlign="start center">
                            <button mat-stroked-button color="#19cc5a">Details</button></span>
                    </div>
                    <div class="trans_header_Sub" fxLayoutAlign="center center">
                            <span class="trans_brand" fxLayoutAlign="start center">
                                    <img src="https://img.icons8.com/bubbles/50/000000/netflix.png"/>                         
                                    </span>
                            <span class="trans_Date" fxLayoutAlign="start center">2 September</span>
                            <span class="trans_Vendor" fxLayoutAlign="start center">Netflix</span>
                            <span class="trans_purDetails" fxLayoutAlign="start center">Netflix Subcription</span>
                            <span class="trans_Cost" fxLayoutAlign="start center">$125.00</span>
                            <span class="trans_Details" style="color: #19cc5a;" fxLayoutAlign="start center">
                                <button mat-stroked-button color="#19cc5a">Details</button></span>
                        </div>

                </div>
            </div>
        </div>
    </div>
    <!-- dash-right -->
    <div class="dash-right" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5%">
        <div class="credit-Card" fxLayout="column" fxLayoutAlign="start center">
            <div class="credit-Card-header" fxLayout="row" fxLayoutAlign="space-between center">
                <span style="font-size: 1.25vw;">Saved Cards</span>
                <span style="color: #1466f5;font-size: 1vw;">+ Add New Card</span>
            </div>
            <div class="credit-Card-body" fxLayout="column" fxLayoutAlign="center center">
                <div class="credit-Card-body-header" fxLayout="row" fxLayoutAlign="space-between start">
                    <img src="https://img.icons8.com/color/64/000000/sim-card-chip.png" />
                    <img src="https://img.icons8.com/color/64/000000/mastercard-logo.png" />

                </div>
                <div class="credit-Card-body-header" fxLayout="column" fxLayoutAlign="start start">
                    <span style="font-size: 1vw;font-weight: bold;">CARD NUMBER</span>
                    <span style="font-size: 1.95vw;font-weight: lighter;">1731 7832 2232 2323</span>
                </div>
                <div class="credit-Card-body-header" fxLayout="column">
                    <span style="width:100%; font-size: 0.5vw;font-weight: bold;">EXPREIES</span>
                    <span>28/21</span>

                </div>

            </div>

        </div>
        <div class="dash_right_bottom" fxLayout="column" fxLayoutAlign=" center">
            <div class="dash_right_content" fxLayout="column" fxLayoutGap="2.5%">
                <div class="today_transaction" fxLayout="row" fxLayoutAlign="start start">
                    <div class="today_transaction_image" fxLayoutAlign="center center"><img
                            src="https://img.icons8.com/color/64/000000/starbucks.png" /></div>
                    <div class="today_transaction_details" fxLayout="column" fxLayoutAlign="center start">
                        <span style="font-size: 1vw;">2 Cappuccion</span>
                        <span>02/11/2017</span>
                    </div>
                    <span class="today_transaction_cost" fxLayoutAlign="center center">$24.00</span>

                </div>
                <div class="today_transaction" fxLayout="row" fxLayoutAlign="start start">
                    <div class="today_transaction_image" fxLayoutAlign="center center"><img
                            src="https://img.icons8.com/color/64/000000/organic-food.png" /></div>
                    <div class="today_transaction_details" fxLayout="column" fxLayoutAlign="center start">
                        <span style="font-size: 1vw;">organic-food baskets</span>
                        <span>02/12/2019</span>
                    </div>
                    <span class="today_transaction_cost" fxLayoutAlign="center center">$40.00</span>

                </div>
            </div>
        </div>
        <div class="automated_transaction" fxLayout="column" fxLayoutAlign="start center">
            <span class="auto_trans_header">Automative Payments</span>
            <div class="auto_trans_body" fxLayout="column" fxLayoutGap="7%">
                <!-- 1 -->
                <div class="auto_data" fxLayout="row">
                    <div class="auto_data_img" fxLayoutAlign="center center">
                        <img src="https://img.icons8.com/color/64/000000/triceps.png" /></div>
                    <div class="auto_data_detail" fxLayout="column">
                        <span>Gym bill</span>
                        <span>1d 23hrs</span>
                    </div>
                    <div class="auto_button" fxLayoutAlign="center center"> <button mat-stroked-button
                            color="#bac2ce">Cancel</button></div>
                </div>
                <!-- 2 -->
                <div class="auto_data" fxLayout="row">
                    <div class="auto_data_img" fxLayoutAlign="center center">
                        <img src="https://img.icons8.com/cute-clipart/64/000000/amazon.png" />
                    </div>
                    <div class="auto_data_detail" fxLayout="column">
                        <span>Web Services bill</span>
                        <span>139d 23hrs</span>
                    </div>
                    <div class="auto_button" fxLayoutAlign="center center"> <button mat-stroked-button
                            color="#bac2ce">Cancel</button></div>
                </div>

            </div>

        </div>
    </div>
</div>